.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1220px;
    margin: auto;
    padding: 10rem 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

.paragrafh {
    line-height: 2.7rem;
    padding: 0rem 0 5rem 0;
}

.link {
    color: var(--text-color);
}